<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h1>New Article</h1>
<form th:action="@{/admin/articles}" th:method="post">
  <div class="form-group">
    <label class="control-label">タイトル</label>
    <input class="form-control" type="text" name="title" />
  </div>
  <button class="btn btn-default" type="submit">作成</button>
</form>
<a class="btn btn-link" th:href="@{/admin/articles}">一覧画面へ</a>
</body>
</html>
